body {
  background-color: #1A1A1A;
  color: white;
  font-size: 18px;
}

#homeImages {
  margin-top: 30px;
}

#signup {
  background-image: url("../css/assets/blue_label_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#indexPage {
  background-image: url("../css/assets/whiskyglass.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.popout {
  background-color: rgba(5,5,5, 0.4);
}

.col-full  {
  color: #DDD;
}

#id {
  width: 200px;
}
#logo-container, #container_sign, h1 {
  color: #DDD;
}
.Home{
  color: #DDD;
}
.col-contact, .col-social{
  color: #DDD;
}
.top-page  {
  background-color: #1A1A1A;
  color: #DDD;
}
#login {
  vertical-align: left;
}
input {
  display: table-column;

}
/*nav bar styling*/


/*a:link, a:visited {
  display: block;
  width: 180px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #1A1A1A;
  text-align: center;
  padding: 4px;
  text-decoration: none;
  text-transform: uppercase;
}*/
/*
a:hover, a:active {
  background-color: #696969;
}*/
label {
  float: left;
  width: 20%;
  text-align: right;
  margin-right: 0.5em;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.form-field-no-caption {
  margin-left: 20%;
  padding-left: 0.5em;
}
#msg {
  color: #DDD;
}
